body {
    margin: 0;
    padding: 0;
    background-image: url(media/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
}

h1 {
    font-weight: bold;
    font-size: 100px;
}

p {
    font-size: 40px;
}