.btn-custom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: antiquewhite;
    border-color: antiquewhite;
    color: black;
}

.btn-custom:hover {
    background-color: rosybrown;
    border-color: rosybrown;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.mode-btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mode-btn:hover {
    transform: translateY(-5px);
}

nav {
    background-color: white; 
    border-style: solid; 
    border-width: 1px; 
    border-color: silver
}