body {
    font-family: 'Poppins', sans-serif;
}

.text {
    color: white;
    transition: color 0.5 ease;
}

.text:hover {
    color: rgb(182, 50, 41);
}

.videoContainer {
    text-align: center;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .videoWrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }